@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?k4vj0u');
  src:  url('../fonts/icomoon.eot?k4vj0u#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?k4vj0u') format('truetype'),
    url('../fonts/icomoon.woff?k4vj0u') format('woff'),
    url('../fonts/icomoon.svg?k4vj0u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
  font-size: 21px;
  margin: 0 5px;
  content: "\e942";
  position: absolute;
  top: 0;
  left: -27px;
  line-height: 77px;
  color: #dfdb04;
}

.icon-location2:before {
  content: "\e948";
  content: "\e948";
  font-size: 4em;
  color: #dfdb04;
  margin: 2.5em 0;
}

.icon-checkbox-checked:before {
  content: "\ea52";
  position: absolute;
  left: -19px;
  top: 5px;
}

.icon-facebook:before {
  content: "\ea90";
  font-size: 1.2em;
  position: absolute;
  left: -19px;
  top: 5px;
}

.icon-twitter:before {
  content: "\ea96";
  font-size: 1.2em;
  position: absolute;
  left: -20px;
  top: 5px;
}

.icon-youtube2:before {
  content: "\ea9e";
  font-size: 1.3em;
  position: absolute;
  left: -47px;
  top: 5px;
}

:root {
  /*boton*/
  /*fuente*/
}

.u-borderTop{
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-align: center;
  padding: 22px  0 15px 0;
  border-radius: 9px 9px 0px 0px;  
}

.u-wrapper{
  width: auto;
  max-width: 960px;
  margin: auto;
}

body{
  font-size: 16px;
  /*background-color:red;*/
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.ContainerHeader{
  background-color: white;
  box-shadow: 0 2px 1px #ccc;
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  z-index: 1;
}

.CipmHero-header{
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.CipmHero-container img{
  margin-left:.8em;
  width: 113.5px;
  padding:10px 0 5px 10px;
}

.CipmHero-rightContent{
  /*flex*/
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.CipmHero-menu{
  width:60px;
  height:77px;
  background-color: #dfdb04;
  display:none;
}

.CipmHero-menu-icon{
  width: 25px;
  height: 20px;
  margin: 29px auto 0;
}

.CipmHero-menu-icon-bar{
  width: 25px;
  height: 4px;
  margin-top: 3px;
  background-color: white;
}

.CipmHero-navbar{
  margin-right: 27px;
  width: 434px;
}

.CipmHero-navbar-item{
  padding: 26px 5px;
  line-height:77px;
  text-decoration: none;
  color: #4d4d4d;
  /*color: #4d4d4d;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875em;
  -webkit-transition: .2s;
  transition: .2s;
  margin-right:30px;
}

.CipmHero-navbar-item:hover{
  border-bottom: 4px solid #ada400;
}

.CipmHero-phone{
  margin-right:.8em;
  height:77px;
  position:relative;
}

.CipmHero-phone-number{
  color: #00a9b8;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 77px;
  margin-left: 0.35em;
}

.CipmHero-copy{
  margin: 77px auto 0;
  background-image: url('../img/image-header2.jpg');
  background-size:cover;
  height:26.875em;
  overflow: hidden;
}

.CipmHero-copy-content{
  position:relative;
  height:26.875em;
}

.CipmHero-copy-contenido{
  position: absolute;
  bottom: 0;
  left: 0;
  /*flex*/
  display:-webkit-box;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /*@media (--desktop){
        top:43%;
      }

      @media (--tablet){
        top:51%
      @media (--celular){
        top:47%
      }
      }*/
}

.CipmHero-copy-container{
  width: 61%;
  padding: 19px 32px 19px 10px;
  background: -webkit-linear-gradient(left, #3da8f5 0%, #3da8f5 62%, #3da8f5 91%, #3da8f5 100%);
  background: linear-gradient(to right, #3da8f5 0%, #3da8f5 62%, #3da8f5 91%, #3da8f5 100%);
  background: -webkit-linear-gradient(left, rgba(61,168,245,1) 0%, rgba(61,168,245,0.34) 62%, rgba(61,168,245,0.03) 91%, rgba(61,168,245,0.03) 100%);
  background: linear-gradient(to right, rgba(61,168,245,1) 0%, rgba(61,168,245,0.34) 62%, rgba(61,168,245,0.03) 91%, rgba(61,168,245,0.03) 100%);
}

/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3da8f5', endColorstr='#3da8f5', GradientType=1 );*/

.CipmHero-copy-container-titulo{
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  color:white;
  line-height:1;
}

.CipmHero-copy-img{
  width:100%;
  margin-bottom:-4px;
}

.CipmHero-copy-buttom{
  width:61%;
  padding: 1em 0;
  background: -webkit-linear-gradient(left, #fafafa 0%, #fcfcfc 35%, #ffffff 100%);
  background: linear-gradient(to right, #fafafa 0%, #fcfcfc 35%, #ffffff 100%);
  background: -webkit-linear-gradient(left, rgba(250,250,250,1) 0%, rgba(252,252,252,1) 35%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(250,250,250,1) 0%, rgba(252,252,252,1) 35%, rgba(255,255,255,0) 100%);
}

.CipmHero-copy-btn{
  display: inline-block;
  width: 133px;
  padding: 7px 10px;
  margin-left:10px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #a85c4d;
  text-align: center;
  text-decoration: none;
  border-radius: 19px;
  box-shadow: 0px 12px 36px -9px rgba(0,0,0,0.75);
  line-height: 1.1;
  -webkit-transition: .2s;
  transition: .2s;
}

.CipmHero-copy-btn:hover{
  background-color:#d1422f;
}

.CipmHero-copy-linke{
  vertical-align: top;
  margin-left: 1em;
  color: #00a9b8;
  font-weight: normal;
  display: inline-block;
  width: 130px;
  margin-top: 6px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: .2s;
  transition: .2s;
}

.CipmHero-copy-linke:hover{
  text-decoration:underline;
}

.CipmAd{
  background-color: #eaeaea;
  width:auto;
}

.CipmAd-container{
  display:-webkit-box;
  display:flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding:1em 10px;
}

.CipmAd-container-date{
  text-align:center;
}

.CipmAd-container-date-day{
  font-family: 'Roboto Slab', serif;
  font-weight:bold;
  color: #00a9b8;
  font-size:33px;
}

.CipmAd-container-date-day span{
  font-size: 16px;
}

.CipmAd-container-date-day2{
  font-weight:normal;
  font-size:20px;
  color:#a85c4d;
}

.CipmAd-container-right{
  display: -webkit-box;
  display: flex;
  width: 80%;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.CipmAd-container-title-gen{
  font-family: 'Roboto Slab', serif;
  font-weight:normal;
  font-size: 1.7em;
  color: #4d4d4d;
}

.CipmAd-container-title-par{
  font-family: 'Roboto Slab', serif;
  font-size:20px;
  color: #4d4d4d;
}

.CipmAd-container-place-lugar{
  font-family: 'Roboto Slab', serif;
  font-size:20px;
  color: #4d4d4d;
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}

.CipmAd-container-place-imge{
  width:177px;
  height:57px;
}

.CipmMain-tomo{
  display:-webkit-box;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top:6em;
}

.CipmMain-item{
  text-align: center;
  padding:0 .3em;
}

.CipmMain-item-icon{
  margin-bottom: 2em;
  width:65px;
}

.CipmMain-item-title{
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  text-decoration:none;
  color: #4d4d4d;
  -webkit-transition: .2s;
  transition:.2s;
  margin-bottom: 2em;
}

.CipmMain-item-title:hover{
  color: #00a9b8;
}

.CipmMain-item-text{
  margin-top: 1em;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #4d4d4d;
  line-height: 1.5;
  padding: 0 10px;
}

.CipmMain-buttom{
  margin: 5em 0;
  text-align: center;
}

.CipmMain-buttom-btn{
  width: 133px;
  border: none;
  padding: 15px 10px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #a85c4d;
  text-align: center;
  border-radius: 19px;
  -webkit-transition: .2s;
  transition: .2s;
}

.CipmMain-buttom-btn:hover{
  background-color:#d1422f;
}

/*Pasos para una tomografia*/

.CipmMain-step-title{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  color: #4d4d4d;
  margin: 2em 0 2.5em 0;
}

.CipmMain-stepContent{
  display:-webkit-box;
  display:flex;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 4em;
}

.CipmMain-stepItem{
  background-color: #eaeaea;
  width:266px;
  border-radius: 9px;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.CipmMain-stepItem-title{
  background-color: #dfdb04;
}

.CipmMain-stepItem-title1{
  background-color: #00a9b8;
}

.CipmMain-stepItem-title2{
  background-color: #a85c4d;
}

.CipmMain-stepItem-content{
  width:80%;
  margin:1em 1.4em;
}

.CipmMain-stepItem-img{
  width:213px;
  height: 155px;
}

.CipmMain-stepItem-text{
  font-family: 'Roboto Slab', serif;
  line-height: 1.8;
  color: #4d4d4d;
  margin:1em 0;
}

.CipmNote{
  background-image: url('../img/background-waith.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.CipmNote-container{
  padding: 5em 0;
}

.CipmNote-title{
  width:465px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-size: 2.2em;
  padding: 0 0 1.3em 0;
  text-align: center;
  margin:auto;
}

.CipmNote-list{
  width: 80%;
  margin:auto;
}

.CipmNote-list-item{
  font-family: 'Roboto Slab', serif;
  color:white;
  font-size:1em;
  line-height: 1.5;
  list-style: none;
  padding:0 1em;
  margin-bottom: 1em;
  position:relative;
}

.CipmNote-list p{
  font-family: 'Roboto Slab', serif;
  color:white;
  margin: 2em 0;
  position: relative;
  left: -18px;
}

.CipmMap-container{
  display: -webkit-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 100px 0;
}

.CipmMap-sitemap{
  width:100%;
  margin-left:1em;
}

.CipmMap-sitemap iframe{
  border:none;
  width:100%;
}

.CipmMap-text{
  margin: 0 1em;
  text-align: center;
}

.CipmMap-text-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #4d4d4d;
  margin-bottom: 2em;
  /*padding:0 8em;*/
}

.CipmMap-text-parra{
  font-family: 'Roboto Slab', serif;
  color: #4d4d4d;
  line-height: 1.5;
  margin-top: 2em;
}

.CipmFooter{
  background-color: #006b78;
}

.CipmFooter-container{
  height:15.5em;
  /*padding:3em;*/
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.CipmFooter-addres{
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
}

.CipmFooter-addres-logoPie{
  margin:0 10px 0 .8em;
}

/*cursor: pointer;*/

.CipmFooter-addres-logoPie a img{
  width:152px;
}

.CipmFooter-addres-tex{
  border-left: 1px solid white;
  padding-left: 1em;
}

.CipmFooter-addres-tex p{
  font-family: 'Roboto Slab', serif;
  font-size: .8em;
  line-height: 1.5;
  color: white;
}

.CipmFooter-social{
  margin-right: .8em;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.CipmFooter-social-title{
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: white;
  margin-bottom: .8em;
  font-weight: 300;
}

.CipmFooter-social-item{
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  color: white;
  text-decoration: none;
  margin-left:70px;
  line-height: 1.8;
  position: relative;
}

.CipmFooter-social-item:hover{
  color: #dfdb04;
}

/*contacto.html*/

.CipmConMain{
  margin: 77px auto 0;
  font-size: 16px;
}

.CipmConMain-container{
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  padding-top: 3em;
  padding-bottom: 3em;
}

.CipmConMain-container h1{
  font-family: 'Montserrat', sans-serif;
  margin: 1em;
  color: #4d4d4d;
}

.CipmConMain-container p{
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  color: #4d4d4d;
  line-height:29px;
  margin:1em;
}

.CipmConMain-container p:nth-child(2){
  font-size: .8em;
  color: #4d4d4d;
  margin:1em;
}

.CipmConMain-container-formulario{
  margin-top: 3em;
  display: -webkit-box;
  display: flex;
  flex-flow: column wrap;
  -webkit-box-align: center;
          align-items: center;
}

.CipmConMain-container-formulario label{
  font-size:1em;
  color: #4d4d4d;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 1.5em;
  align-self: flex-start;
  margin-left: 25%;
}

.CipmConMain-container-formulario-campos{
  background-color: #eaeaea;
  height: 2.3em;
  width: 50%;
  border:none;
  margin-bottom: 2em;
  font-size:1em;
  padding-left:1em;
  color: #4d4d4d;
}

.CipmConMain-container-formulario textarea{
  width:50%;
  background-color: #eaeaea;
  border:none;
  padding-left:1em;
  color: grey;
  font-family: 'Roboto Slab', serif;
}

.CipmConMain-container-formulario-campos:focus, .CipmConMain-container-formulario textarea:focus{
  background-color: #f9f8b3;
  outline:0px;
}

.boton{
  width:131px;
  background-color: #a85c4d;
  color:white;
  padding: 15px 0;
  border:none;
  border-radius: 16px;
  margin:2em 0;
  -webkit-transition: .3s;
  transition:.3s;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

.boton:hover{
  background-color:#d1422f;
}

@media (max-width:525px) {

  .icon-checkbox-checked:before {
    left: 8px;
  }

  .CipmHero-phone {
    display: none;
  }

  .CipmHero-copy-container-titulo {
    font-size: 1.3em;
  }

  .CipmHero-copy-img {
    width: auto;
    max-width: 525px;
  }

  .CipmAd-container-date-day {
    font-size: 27px;
  }

  .CipmAd-container-date-day2 {
    font-size: 16px;
  }

  .CipmAd-container-right {
    width: 65%;
  }

  .CipmAd-container-title-gen {
    font-size: 22px;
  }

  .CipmAd-container-title-par {
    font-size: 17px;
  }

  .CipmAd-container-place-lugar {
    font-size: 18px;
  }

  .CipmNote-title {
    width: 100%;
    font-size: 1.9em;
    padding: 0 .7em 1.3em .7em;
  }

  .CipmNote-list-item {
    padding: 0 .5em 0 3.5em;
  }

  .CipmNote-list p {
    left: 9px;
  }

  .CipmFooter-container {
    flex-flow: column nowrap;
    text-align: center;
    height: 100%;
  }

  .CipmFooter-addres {
    display: block;
  }

  .CipmFooter-addres-logoPie {
    margin: 4em  0 2em 0;
  }

  .CipmFooter-addres-tex {
    border-left: none;
    margin-top: 4em;
  }

  .CipmFooter-social {
    margin: 4em 0;
  }

  .CipmFooter-social-item {
    margin-left: 32px;
    margin-top: 2.2em;
  }

  .CipmConMain-container-formulario {
    -webkit-box-align: start;
    align-items: flex-start;
    margin: 2em 1em 0 1em;
  }

  .CipmConMain-container-formulario label {
    margin-left: 1%;
  }

  .CipmConMain-container-formulario-campos {
    width: 100%;
  }

  .CipmConMain-container-formulario textarea {
    width: 100%;
  }

  .boton {
    align-self: center;
  }
}

@media (max-width:800px) {

  .u-borderTop {
    border-radius: 0;
  }

  .CipmAd-container-place-lugar {
    display: block;
    margin-bottom: 6px;
  }

  .CipmMain-tomo {
    flex-flow: row wrap;
  }

  .CipmMain-item {
    width: 350px;
    margin-bottom: 4em;
  }

  .CipmMain-buttom {
    margin: 2em 0 5em 0;
  }

  .CipmMain-stepContent {
    flex-flow: column wrap;
  }

  .CipmMain-stepItem {
    width: auto;
    border-radius: 0;
  }

  .CipmMain-stepItem-content {
    width: auto;
    margin: 1em 2em;
    display: -webkit-box;
    display: flex;
    flex-flow: row nowrap;
  }

  .CipmMain-stepItem-img {
    width: auto;
  }

  .CipmMain-stepItem-text {
    margin: 0 0 0 2em;
  }
}

@media (max-width:730px) {

  .CipmHero-menu {
    display: block;
  }

  .CipmHero-navbar {
    position: absolute;
    width: 80%;
    margin-right: 0;
    right: -569px;
    height: 564px;
    top: 77px;
    background: #ffffff;
    background: rgba(255,255,255,0.9);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    /*justify-content: center;*/
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #dbddde;
    /*display:none;*/
    -webkit-transition: .7s;
    transition: .7s;
  }

  .CipmHero-navbar-item {
    line-height: 2;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #dbddde;
    margin-right: 0;
    /*margin-bottom: 1.5em;*/
    font-size: 1em;
  }

  .CipmHero-navbar-item:hover {
    /*background-color:var(--phone);*/
    /*border-bottom:none;*/
  }

  .CipmHero-copy {
    height: auto;
    background-image: none;
  }

  .CipmHero-copy-content {
    height: auto;
  }

  .active {
    right: 0;
  }
}

@media (max-width:690px) {

  .CipmHero-copy-container {
    width: 100%;
  }

  .CipmHero-copy-container-titulo {
    font-size: 1.5em;
  }

  @media (max-width:525px) {

    .CipmHero-copy-container-titulo {
      font-size: 1.3em;
    }
  }

  .CipmHero-copy-buttom {
    width: 100%;
  }

  .CipmAd-container-date {
    align-self: flex-start;
  }

  .CipmAd-container-right {
    width: auto;
    flex-flow: column wrap;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  @media (max-width:525px) {

    .CipmAd-container-right {
      width: 65%;
    }
  }

  .CipmAd-container-place {
    margin-top: 1em;
  }

  .CipmMain-stepItem-img {
    display: none;
  }

  .CipmMap-container {
    flex-flow: column-reverse nowrap;
    padding: 50px 0;
  }

  .CipmMap-sitemap {
    display: none;
  }

  .CipmMap-text {
    margin: 0 1em 2em 1em;
  }

  .CipmConMain-container-formulario label {
    margin-left: 10%;
  }

  @media (max-width:525px) {

    .CipmConMain-container-formulario label {
      margin-left: 1%;
    }
  }

  .CipmConMain-container-formulario-campos {
    width: 80%;
  }

  @media (max-width:525px) {

    .CipmConMain-container-formulario-campos {
      width: 100%;
    }
  }

  .CipmConMain-container-formulario textarea {
    width: 80%;
  }

  @media (max-width:525px) {

    .CipmConMain-container-formulario textarea {
      width: 100%;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

  .CipmNote {
    background-image: url('../img/background-waith-2x.jpg');
  }
}